
#OutterAbout{
 width: 80%;
 margin: 0% 10%;
}
#AboutDiv{
 width: 100%;
}
#AboutDiv h2{
 text-align: center;
 margin-bottom: 0;
}
#aboutPic{
 float: left;
 margin-right: 20px;
}
#Me{
    width: 230px;
    height: 230px;
    border-radius: 10px;
}
#innerText{
 font-weight: 300;
 font-size: 1.3em;
}
