
.SiteMock{
 height: 266px;
 width: 320px;
 margin: 0 auto 11% auto;
}

#OutterMockUps{
 width: 100%;
 float: left;
 text-align: center;
 margin: 0;
}
#Mobile{
 height: 306px;
 width: 204px;
 margin: 0 auto;
}

   