
#Mobile{
 height: 306px;
 width: 204px;
 margin: 0 auto;
}
.SiteMock{
 height: 266px;
 width: 320px;
 margin: 0 auto;
}
#OutterMockUps{
 width: 100%;
 background: #393232;
 float: left;
 text-align: center;
}
.carousel .slide{
 background: #393232;
}
.carousel .thumbs-wrapper{
 display: none;
}
.carousel .control-dots {
 position: absolute;
 margin: 0;
 text-align: center;
 width: 100%;
 padding: 0;
}
.carousel .control-dots .dot{
 opacity: 0.1;
}
.carousel .control-dots .dot.selected, .carousel .control-dots .dot:hover{
 opacity: 0.4;
}
   