
.NavBarFull{
 color: #E7E7E7;
 text-align: center;
 text-decoration: none;
 padding-bottom: 10px;
}

 li :hover{
  font-weight: 600;
  font-style: italic;
 }
  li :visited{
   color: #E7E7E7;
  }
ul{
 list-style: none;  
 font-size: 1.2em;
}
 ul li{
  display: inline;
  
 }
#leftNav{
 text-align: right;
 padding: 20px;
}
#rightNav{
  text-align: left;
  padding: 50px
}
.NavLinks{
    text-decoration: none;
}

#NavLogo{
  float: left;
  padding-top: 30px;
  margin: -4% 43.5%;
}

#Logo{
  height: 150px;
  width: 150px;
}