
.NavBarFull{
 color: #E7E7E7;
 text-align: center;
 text-decoration: none;
 padding-bottom: 10px;
}

 li :hover{
  font-size: 1.4em;
 }
  li :visited{
   color: #E7E7E7;
  }
ul{
 list-style: none;  
 font-size: 1.2em;
}
 ul li{
  display: inline;
  
 }
#leftNav{
 padding-right: 50px;
}
#rightNav{
 padding-left: 50px;
}
.NavLinks{
    text-decoration: none;
}

#NavLogo{
  float: left;
  margin: -5% 46%;
}

#Logo{
  height: 150px;
  width: 150px;
}