
#resumeDiv {
 margin: 0 10%;
 padding: 10px;
 background: whitesmoke;
 color: black;
 width: 80%;
 box-shadow: 15px 10px 10px black;
 float: left;
}
#socials{
 float: left;
 width: 100%;
 margin: 0 45%;
 align-content: center;
}
.Resume{
 display: grid;
}
p {
 margin:0;
 padding:0;
 font-weight: 600;
}
.ital{
 font-style: italic;
 font-weight: unset;
}
#SkillsLeft{
 display: inline;
}
 #SkillsLeft li{
    float: left;
    width: 50%;
 }
#SkillsRight{
 display: inline;
}
#SkillsRight li{
    float: left;
    width: 50%;
}
#Skills{
 display: inline;
}
 #Skills li{
  display: grid;
 }
