
#OutterWelcome{
 width: 80%;
 margin: 0% 10%;
}
#WelcomeDiv{
 width: 100%;
}
 #WelcomeDiv h2{
  text-align: center;
  margin-bottom: 0;
 }
#catchLine{
 font-style: italic;
 font-weight: 500;
 font-size: 2em;
 text-align: center;
}
#WelcomeDiv h3{
 margin-bottom: 15px;
}
#welcome{
 font-weight: unset;
}